@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render(eUI.Common.JsFiles.UserRecord)

<div style="
    font-size: 12px;
    padding: 10px 0;
"> 查询条件：<div style="padding: 5px;margin: 5px 0;">
    <label>邮箱：</label>
    <input id="txtSearchUserName" class="easyui-textbox" />
    <a id="btnSearch" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
    </div></div>

<div id="usergrid"></div>
