@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render(eUI.Common.JsFiles.UserRecord)

<div style="
    font-size: 12px;
    padding: 10px 0;
"> 查询条件：<div style="padding: 5px;margin: 5px 0;">
    <label>邮箱：</label>
    <input id="txtSearchUserMail" class="easyui-textbox" />
            <label>用户名：</label>
            <input id="txtSearchUserName" class="easyui-textbox" />
    <a id="btnSearch" class="easyui-linkbutton" href="javascript:void(0)">确定</a>
    </div></div>

<div id="usergrid"></div>
<div id="dlg" class="easyui-window" title="用户管理" data-options="iconCls:'icon-save'" style="width:500px;height:250px;padding:10px;position: relative;">
    <div><input type="hidden" id="Id" /></div>
    <div>
        <div>
            注册用户：<input type="text" class="textbox-value upload-input" id="ReName" readonly="readonly" style="border:0"/><br /><br />
            注册邮箱：<input type="text" class="textbox-value upload-input" id="ReMail" /><br /><br />
            注册密码：<input type="text" class="textbox-value upload-input" id="RePassword" /><br /><br />
        </div>
    </div>
    <div><button type="button" name="submitName" class="upload-button" id="submit">提交</button></div>

</div>