@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render(eUI.Common.JsFiles.SubPage)
<link href="~/Style/kindeditor-4.1.7/themes/default/default.css" rel="stylesheet" />
<script src="~/Style/kindeditor-4.1.7/kindeditor-min.js"></script>
<script src="~/Style/kindeditor-4.1.7/lang/zh_CN.js"></script>
    <div id="usergrid"></div>


    <div id="edit_sub" class="easyui-window" title="模板编辑页面" data-options="iconCls:'icon-save'" style="width:700px;height:500px;padding:10px;">
        <div><input type="hidden" id="Id" /></div>
        <div><button type="button" name="submitName" class="easyui-linkbutton l-btn l-btn-small" id="submit">保存</button></div>
        <div>
           <h3>开发工具模板</h3><textarea  id="DevelopmentToolPage" name="DevelopmentToolPage" ></textarea>

        </div>
        <div><h3>毕业论文模板</h3><textarea id="TemplatePage" name="TemplatePage"></textarea></div>

    </div>
